#loginForm {
	background-color:#A6A6A6;
	margin: auto;
	border: 2px #66c2ff;
	padding: 5% 2% 0px 2%;
	width: 350px;
	height: 200px;
	text-align: center;
	margin-top: 10%;
}

input {
	margin:10px;
}

.btn {
	width: 100px;
	height: 30px;
	color: white;
	border-radius: 5px;
	background-color: #66c2ff;
	margin-top: 20px;
}